.o{
    height: 63vh;
    display: flex;
    padding: 50px;
    gap: 60px;
    align-items: center;
}
.hj{
    height: 20vh;
}
.fh{
    padding: 5px;
    border: 1px solid black;
    background-color: whitesmoke;
    text-decoration: none;
    border-radius: 5px;
    color: black;
}
.fh:hover{
    transform: scale(1.01);
    box-shadow: inset(4px,4px,4px,4px);
}
.gu{
    height: 50vh;
    background-color: rgb(210,230,255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.y{
    height: 45vh;
    width: 20vw;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    box-shadow: 4px 4px 10px rgba(0.1, 0.1, 0.1, 0.2);
    animation: fk;
    animation-duration: 2s; 
    flex-shrink: 0;
}
@keyframes fk {
    from{
        transform: translateX(-400px);
    }
}
.g{
    width: 10vw;
}
.i{
    height: 8vh;
    width: 4vw;
}
.y:hover{
    transform: scale(1.01);
}
.fp{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(210,230,255);
    animation: name duration timing-function delay iteration-count direction fill-mode;
}
@media(max-width:1366px)
{
    .y{
        width: 20vw;
        height: 50vh;
    }
    .df{
        font-size: 15px;
    }
}